@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Montserrat', sans-serif;
}

body{
    aspect-ratio: 900/300;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(../svg/wave-haikei.svg);
}

.container{
    display: flex;
    justify-content: center;
}

img{
    height: 100%;
    width: 100%;
    object-fit: fill;
}

p{
    font-size: 20px;
    color: #312218; 
}

h1{
    font-size: 100px;
    font-family: Montserrat;
    color: #4C3525;
}

/*images*/
#pics{
    padding-top: 30px;
}
#pics .title h1{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    border-top: 9px solid #2b1e15;
    border-bottom: 9px solid #201710;
}
#pics .title span{
    font-family: 'Montserrat', sans-serif;
    color: #312218;
    font-size: 40px;
}
/*end of images*/

@media screen and (max-width: 600px)
{

    #pics .title h1{
        font-family: 'Poppins', sans-serif;
        font-size: 30px;
        border-top: 9px solid #2b1e15;
        border-bottom: 9px solid #201710;
    }
    #pics .title span{
        font-family: 'Montserrat', sans-serif;
        color: #312218;
        font-size: 30px;
    }
}