@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Montserrat', sans-serif;
}

body{
    aspect-ratio: 900/300;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(../svg/wave-haikei.svg);
}

a{
    text-decoration: none;
}

.cta{
    font-weight: 900;
    display: inline-block;
    padding: 10px 30px;
    color: #7d583e;
    border: 2px solid #7d583e;
    border-radius: 24px;
    font-size: 2rem;
    background-color: transparent;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease background-color;
}

.cta:hover{
    color: #312218;
    font-family: 'Poppins', sans-serif;
    background-color: #7d583e;
}

.container{
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

img{
    height: 100%;
    width: 100%;
    object-fit: fill;
}

p{
    font-size: 20px;
    color: #312218; 
}

h1{
    font-size: 100px;
    font-family: Montserrat;
    color: #4C3525;
}

/*title images*/
#pics{
    padding-top: 30px;
}
#pics .title{
    text-align: center;
    width: 50%;
    padding-bottom: 50px;
}
#pics .title h1{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    border-top: 9px solid #2b1e15;
    border-bottom: 9px solid #201710;
    padding-bottom: 10px;
}
#pics .title span{
    font-family: 'Montserrat', sans-serif;
    color: #312218;
    font-size: 40px;
}
/*end of title images*/

/*Pictures*/
#eimages{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
}
#eimages .boximg{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#eimages .boximg .col-1{
    display: flex;
    flex-direction: column;
    width: 32.5%;
}
#eimages .boximg .col-1 img{
    width: 100%;
    padding-bottom: 9px;
    border-radius: 12px;
    filter: drop-shadow(0px 4px 4px #704ae240);
}

#eimages .links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}

/*End of pictures*/


@media screen and (max-width: 600px) and (max-height: 900px)
{
    .cta{
        font-weight: 900;
        display: inline-block;
        padding: 10px 19px;
        color: #7d583e;
        border: 2px solid #7d583e;
        border-radius: 24px;
        font-size: 20px;
        background-color: transparent;
        text-transform: uppercase;
        letter-spacing: .1rem;
        margin-top: 30px;
        transition: .3s ease background-color;
    }
    #pics .title{
        text-align: center;
        width: 95%;
        padding-bottom: 40px;
    }
    #pics .title h1{
        font-family: 'Poppins', sans-serif;
        font-size: 30px;
        border-top: 9px solid #2b1e15;
        border-bottom: 9px solid #201710;
        padding-bottom: 10px;
    }
    #pics .title span{
        font-family: 'Montserrat', sans-serif;
        color: #312218;
        font-size: 30px;
    }
    #eimages .links{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
    }
}