@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Montserrat', sans-serif;
}

body{
    aspect-ratio: 900/600;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(../svg/wave-haikei.svg);
}

.container{
    display: flex;
    justify-content: center;
}

img{
    height: 100%;
    width: 100%;
    object-fit: fill;
}

p{
    font-size: 20px;
    color: #312218; 
}

h1{
    font-size: 100px;
    font-family: Montserrat;
    color: #4C3525;
}

/* Main section */
#ella{
    padding-left: 123px;
    padding-right: 123px;
    padding-top: 150px;
}

#ella .right h1{
    padding-top: 44px;
}

#ella .right p{
    max-width: 732px;
    padding-top: 15px;
    line-height: 27px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-bottom: 79px;
}

#ella .ella{
    gap: 126px;
}

#ella .right{
    width: 100%;
}

#ella .ella{
    display: flex;
    flex-direction: row;
}

#ella .ellaspic img{
    width: 336px;
    height: 598px;
    border-radius: 24px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
/* End of Main Section */

/*Folder section*/
#folder{
    padding-left: 123px;
    padding-right: 123px;
}

#folder .text img{
    height: 200px;
    width: 200px;
}

#folder .text h1{
    font-size: 50px;
}

/*End of Folder section*/

@media screen and (max-width: 600px)
{
    #ella .container{
        display: flex;
        flex-direction: column;
    }
    #ella .right h1{
        font-size: 50px;
    }
}