<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/image.css">
    <link rel="icon" href="../static/img/Ellsicon.png">
    <title>Ella <3 </title>
</head>
<body>
    <!--Images-->
    <section id="pics">
        <div class="pics container">
            <div class="title">
                <h1>🤎Michaella's <span>Beauty🤎</span></h1>
            </div>
        </div>
    </section>
    <!--End of images-->
</body>
</html>